body {
  overflow-x: hidden;
}

.theme-btn {
  border: 1px solid #0a84ff;
  color: #0a84ff;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 15px;
  background: transparent;
  border-radius: 5px;
}
